select {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}

.cards.back {
  display: none;
}
.cards .row {
  display: flex;
  gap: 1px;
  align-items: flex-start; /* or other value based on your layout needs */
  justify-content: flex-start; /* or other value based on your layout needs */
}

.cards.back .row {
  flex-direction: row-reverse;
}


.card {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;

  width: 9.6cm;
  height: 7.5cm;
  flex-grow: 0;  /* prevent growing */
  flex-shrink: 0;  /* prevent shrinking */
  flex-basis: auto; /* respect the width and height */
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  flex-grow: 0;  /* prevent growing */
  flex-shrink: 0;  /* prevent shrinking */
  flex-basis: auto; /* respect the width and height */
}

p {
  margin: 0;
  text-align: center;
}
p.category {
  margin-top: calc(1.5rem - 1px);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin-bottom: auto;
  /* translate: 0 2.1rem; */
  font-size: 9.1pt;

  text-transform: uppercase;
}
p.title {
  font-weight: 700;
  margin-top: auto;
  padding-top: calc(5rem - 1px);
  font-size: 20pt;
}
p.question {
  font-size: 15.8pt;
  max-width: 60%;
  font-weight: 400;
}
p.target {
  font-size: 19.5pt;
  font-style: italic;
  font-weight: 300;
  margin-top: auto;
  margin-bottom: 1.1rem;
  /* translate: 0 -1rem; */
  max-width: 50%;
}

p, text {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

img {
  margin-bottom: auto;
  width: 40%;
  translate: 0 calc(-0.5rem - 1px);
}

svg text {
  font-weight: 300;
  font-size: 3.3px;
}

@media print {
  /* All your print styles go here */
  select {
    display: none !important;
  }

  body {
    margin: 0; /* Remove body margin */
    padding: 0; /* Remove body padding */
    width: 100%; /* Ensure full width */
  }

  .cards {
    page-break-inside: avoid;
  }

  /* General cleanup */
  * {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
  }

  /* Ensure no extra space is added */
  @page {
    margin: 0;
  }
}